[submodule "bayesopt"]
	path = bayesopt
	url = git@github.com:Eiii/bayesopt.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "cpplogo2"]
	path = cpplogo2
	url = git@github.com:Eiii/cpplogo2.git
